body{
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}
.heading1{
    color:white;
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
    width:50%;
    margin:auto;
    
}
.Container{
   
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 60px;
    padding-bottom: 60px ;
    border-color: whitesmoke;
    border: solid;
    flex-wrap: wrap;
}
.contain{
    width: 100%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
.heading2{
    font-size: medium;
    background-color: rgb(19, 19, 169);
    color:white; 
    width:50%;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    height: 250px;
    padding: 20px;
}
.heading3{
    font-size: medium;
    background-color: blueviolet;
    color:white;
    width:50%;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    height:250px;
    padding: 20px;
}
.container2{
    width: 100%;
    display:flex;
    flex-direction: row;
    justify-content: space-between
}
.heading4{
    font-size: medium;
    background-color: rgb(252, 34, 34);
    color:white;
    width: 50%;
    margin-left: 10px;
    margin-right: 10px;
    height: 250px;
    padding: 20px;
}
.heading5{
    font-size: medium;
    background-color: yellowgreen;
    color:white;
    width: 50%;
    margin-left: 10px;
    margin-right: 10px;
    height: 250px;
    padding: 20px;
}
.contact{
    width: 100%;
    background-color: gray;
    color: white;
    padding-left: 10%;
}